# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
main/Debug/main.pdb
main/ipch/main-3ca7df08/main-62bed6b1.ipch
main/main.opensdf
main/main.sdf
main/main.suo
main/main/Debug/CL.read.1.tlog
main/main/Debug/CL.write.1.tlog
main/main/Debug/cl.command.1.tlog
main/main/Debug/link.command.1.tlog
main/main/Debug/link.read.1.tlog
main/main/Debug/link.write.1.tlog
main/main/Debug/main.exe.intermediate.manifest
main/main/Debug/main.lastbuildstate
main/main/Debug/main.log
main/main/Debug/main.vcxprojResolveAssemblyReference.cache
main/main/Debug/main.write.1.tlog
main/main/Debug/mt.command.1.tlog
main/main/Debug/mt.read.1.tlog
main/main/Debug/mt.write.1.tlog
main/main/Debug/vc100.idb
main/main/Debug/vc100.pdb
main/main/main.vcxproj.user
